In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [4]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
data = Path("./Resources/lending_data.csv")
df_lending = pd.read_csv(data)


# Review the DataFrame
df_lending.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [6]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df_lending['loan_status']

# Separate the X variable, the features
X = df_lending.drop(columns=['loan_status'])

In [7]:
# Review the y variable Series
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [8]:
# Review the X variable DataFrame
X

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600
77532,17700.0,10.662,80900,0.629172,11,2,50900
77533,17600.0,10.595,80300,0.626401,11,2,50300
77534,16300.0,10.068,75300,0.601594,10,2,45300
77535,15600.0,9.742,72300,0.585062,9,2,42300

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [10]:
# Check the balance of our target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [11]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [14]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using training data
classifier.fit(X_train,y_train)
LogisticRegression(random_state=1)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [15]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
60914           0       0
36843           0       0
1966            0       0
70137           0       0
27237           0       0
...           ...     ...
45639           0       0
11301           0       0
51614           0       0
4598            0       0
2793            0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [17]:
# Print the balanced_accuracy score of the model
balanced_accuracy = balanced_accuracy_score(y_test,predictions)
print(f'Balanced Accuracy Score: {balanced_accuracy}')

Balanced Accuracy Score: 0.9520479254722232

In [18]:
# Generate a confusion matrix for the model
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
cm_df

          Predicted 0  Predicted 1
Actual 0        18663          102
Actual 1           56          563

In [20]:
# Print the classification report for the model
print("Confusion Matrix")
display(cm_df)
print(f"Balanced Accuracy Score : {balanced_accuracy}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        18663          102
Actual 1           56          563

Balanced Accuracy Score : 0.9520479254722232
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:**
Overall, the logistic regression model does a good job of predicting the two types of loans, with 100% precision for Health Loans, indicated by `0` above, and 85% for High-Risk Loans, indicated by `1` above. 

In addition, the predictions can be considered good due to a high Balanced Accuracy Score, Recall, and F-1 Score.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [22]:
# Install imbalanced learn
!pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.1-py3-none-any.whl (226 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 226.0/226.0 kB 3.8 MB/s eta 0:00:0000:01
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/rutgersbootcamp/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/rutgersbootcamp/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: joblib>=1.1.1 in /Users/rutgersbootcamp/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/rutgersbootcamp/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/rutgersbootcamp/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (2.2.0)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.10.1

In [29]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_res, y_res = ros.fit_resample(X,y)

In [35]:
# Count the distinct values of the resampled labels data

print('Count of resampled labels data:', Counter(y_res) )

Count of resampled labels data: Counter({0: 75036, 1: 75036})

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [39]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
X_train_res,X_test_res,y_train_res,y_test_res = train_test_split(X_res,y_res,random_state=1)

# Fit the model using the resampled training data
classifier.fit(X_train_res,y_train_res)

# Make a prediction using the testing data
predictions_res = classifier.predict(X_test_res)
pd.DataFrame({"Prediction": predictions_res, "Actual": y_test_res})

        Prediction  Actual
31735            0       0
85950            1       1
114137           1       1
32165            0       0
26504            0       0
...            ...     ...
70523            0       0
15683            0       0
144522           1       1
55222            0       0
42650            0       0

[37518 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [40]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_res = balanced_accuracy_score(y_test_res,predictions_res)
print(f'Resampled Balanced Accuracy Score: {balanced_accuracy_res}')

Resampled Balanced Accuracy Score: 0.9950160462226244

In [43]:
# Generate a confusion matrix for the model
cm_res = confusion_matrix(y_test_res, predictions_res)
cm_res_df = pd.DataFrame(
    cm_res, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
cm_res_df

          Predicted 0  Predicted 1
Actual 0        18810           95
Actual 1           92        18521

In [44]:
# Print the classification report for the model
print("Resampled Confusion Matrix")
display(cm_res_df)
print(f"Resampled Balanced Accuracy Score : {balanced_accuracy_res}")
print("Classification Report")
print(classification_report(y_test_res, predictions_res))

Resampled Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        18810           95
Actual 1           92        18521

Resampled Balanced Accuracy Score : 0.9950160462226244
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18905
           1       0.99      1.00      0.99     18613

    accuracy                           1.00     37518
   macro avg       1.00      1.00      1.00     37518
weighted avg       1.00      1.00      1.00     37518

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression model, fit with oversampled data, predicts both Healthy Loans (`0`) and High-Risk Loans (`1`) very well, with high Balanced Accuracy Scores, precision, recall, and f1-scores.